*{
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-size: 16px; 
}

:root{
    /*colours*/
    --main-text-colour: #3B3B3B; 
    --trendlog-green: #00C52D;
    --black: #000000;
    --white: #FFFFFF;
    --dark-grey: #3B3B3B;
    --light-grey: #F3F3F3;
    --grey-white: #F8F7FD;
    --green: #5BB95B;
    --red: #D9544F;
    --yellow: #EEAE4D;
    --blue: #347AB5;
    
    /*font size*/
    --fontsize-xxxxl: 46px;
    --fontsize-xxxl: 38px;
    --fontsize-xxl: 28px;
    --fontsize-xl: 20px;
    --fontsize-l: 18px; 
    --fontsize-r: 16px; 
    --fontsize-s: 14px;
    --fontsize-xs: 12px;
    --fontsize-xxs: 10px;
    
    /*margin*/
    --margin-xl: 80px; 
    --margin-l: 40px; 
    --margin-r: 20px; 
    --margin-s: 15px; 
    --margin-xs: 10px; 
    --margin-xxs: 5px; 
    --margin-side: 5%; 
    
    /*padding*/
    --padding-xl: 80px;
    --padding-l: 40px;
    --padding-r: 20px;
    --padding-s: 15px;
    --padding-xs: 10px;
    --padding-xxs: 5px;
    --padding-side: 5%; 
}

h1, h2, h3, p{
    color: var(--main-text-colour); 
}

h1{
    font-size: var(--fontsize-xxxl);
    padding-bottom: var(--padding-r);
}

/*main nav*/
.header-index{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 30px 5%; 
    background-color: var(--dark-grey); 
    max-height: 30px; 
}

.nav-logo{
    cursor: pointer;
    height: 25px; 
    width: 130px; 
}

.nav-links, nav-right{
    list-style-type: none; 
}

.nav-links li, .nav-right li{
    display: inline-block;
    padding: 0 20px; 
}

.nav-links li a{
    text-decoration: none;
    color: var(--white); 
    transition: all 0.3s ease 0s; 
}

.nav-links li a:hover{
     color: var(--trendlog-green); 
}

.nav-right input{
    cursor: pointer;  
}

.nav-right input::placeholder{
    padding: 0 5px; 
}

.nav-channel, .user-name, .user-profile{
    color: var(--white); 
}

.user-profile{
    cursor: pointer; 
    transition: all 0.3s ease 0s;
}

.user-profile:hover{
    cursor: pointer; 
    color: var(--trendlog-green); 
    transition: all 0.3s ease 0s;
}

main{
    margin: var(--margin-l) var(--margin-side) 0; 
}

/*Overskrift og +-knappen*/
.heading-index{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.heading-index button{
    width: 40px;
    height: 40px; 
    background-color: var(--trendlog-green);
    cursor: pointer; 
    border: none; 
}

.heading-index .fa-plus{
    color: var(--white);
}

/*funktioner*/
.functions-index{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

/*filterfunktion*/
.filter-and-search{
    display: inline-flex; 
}

.filters-index{
    margin-right: var(--margin-r);
}

.filters-index button{ 
    border: none; 
    padding: 0 var(--padding-xs);
    background-color: var(--white); 
    cursor: pointer;
}

.filters-index .fa-sort-amount-down-alt{
    background-color: var(--white); 
    color: var(--dark-grey); 
    font-size: 20px;
    text-align: center;
    padding-left: var(--padding-xs);
}

/*drop-down filter*/
.filters-index{
    position: relative; 
    display: inline-block; 
}

.dropdown-filter-content{
    display: none; 
    position: absolute; 
    background-color: var(--white); 
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2); 
    min-width: 300px;
    z-index: 1; 
}

.show-filter-content{
    display: block; 
}

/*søgefunktion*/
.search-index ::placeholder{
    font-size: var(--fontsize-xxs); 
    padding: var(--padding-xxs); 
}

.search-index button{
    width: 30px; 
    height: 30px; 
    background-color: var(--blue); 
    cursor: pointer; 
    border: none; 
}

.search-index .fa-search{
    color: var(--white); 
}

/*data table*/
table{
    width: 100%; 
}

th{
    text-align: left;
    padding: 0 0 var(--padding-s) 0; 
    cursor: pointer; 
}

th .fa-sort{
    padding: 0 var(--padding-s);
}

td{
    text-align: left; 
    padding: var(--padding-xs) var(--padding-xxs); 
}

.fa-circle{
    font-size: var(--fontsize-xxs);
    color: var(--trendlog-green);
}

tbody tr:nth-child(odd){
    background-color: var(--light-grey);
}

.bar-yellow{
    min-width: 100px; 
    height: auto; 
    background-color: var(--yellow);
    margin: 0 var(--margin-xs);
}

.fa-pen,.fa-list, .fa-history,.fa-ellipsis-h{
    padding: 0 var(--padding-xs); 
    color: var(--dark-grey); 
}

/*pagination*/
.pagination-index{
    display: flex; 
    justify-content: flex-end; 
}

.pagination-index a{  
    color: var(--dark-grey); 
    text-decoration: none; 
    padding: var(--padding-xs) var(--padding-r); 
}

.pagination-index a.pagination-active{
    font-weight: 900; 
}

